<h1>Users#home</h1>
<p>Find me in app/views/users/home.html.erb</p>
<h3>Hello, <%= current_user.name %></h3>

<br>



<div class="nameH">
    <div class="newS">
        <button><a href="/logout">Logout</a></button>
    </div>
</div>